* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #a7f3d0;
}
nav {
  padding: 2rem;
  background-color: #34d399;
}
nav span {
  padding: 1rem;
  text-transform: uppercase;
  margin: auto;
  color: #065f46;
  border: 1px solid #065f46;
  background: #a7f3d0;
}
#txt-input,
#output {
  width: 50%;
  height: 5rem;
}
#btn-translate {
  display: block;
  margin: auto;
  background-color: #a7f3d0;
  padding: 0.5rem;
  outline: none;
}
#output {
  border: 3px solid grey;
  margin: auto;
  border-radius: 4px;
}
#txt-input,
h2 {
  margin: 1rem 0;
}
.inputoutput {
  text-align: center;
  margin-top: 0.5rem;
}
footer {
  padding: 2rem;
  background-color: #34d399;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
