* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #a7f3d0;
}
nav {
  padding: 2rem;
  background-color: #34d399;
}
nav span {
  padding: 1rem;
  text-transform: uppercase;
  margin: auto;
  color: #065f46;
  border: 1px solid #065f46;
  background: #a7f3d0;
  border-radius: 0.4rem;
}
#txt-input,
#output {
  width: 50%;
  height: 5rem;
}

#btn {
  display: block;
  margin: auto;
  background-color: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 70%);
  outline: none;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  font-weight: 600;
}

#btn:hover,
#btn:focus {
  background-color: #28b573;
  box-shadow: 0 0 5px 0 #399d6e;
  color: #fafafa;
}

#output {
  border: 3px solid grey;
  margin: auto;
  border-radius: 0.4rem;
}
#txt-input,
h2 {
  margin: 1rem 0;
}
textarea#txt-input {
  text-align: center;
  padding: 1rem;
  /* font-size: 2rem; */
  border-radius: 0.4rem;
}
#txt-input::placeholder {
  text-align: center;

  padding: 0.1rem;
}
#txt-input {
  resize: none;
  overflow: hidden;
}
.inputoutput {
  text-align: center;
  margin-top: 0.5rem;
}
footer {
  padding: 2rem;
  background-color: #34d399;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
